*{
    margin: 0;
    padding: 0;
    font-family: "Helvetica",consolas;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    background: #000000;
    color: #ff0000;

}
#header{
  
    width: 100%;
    height: 100vh;
    background-image: url(image/1270683.png);
    background-size: cover;
    background-position: center;
}
    .container{
        padding: 10px 10%;


    }

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrape;
}
 
.logo{
   width: 140px;
 }
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}  

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff0000;    
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0,5s;
}   
nav ul li a:hover::after{
    width: 100%;
}
  .header-text{
    margin-top: 20%;
    font-size: 30px;
 
}
 .header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
/*-------------------about--------------*/
#about{
    padding: 80px 0;
    color: #ffffff;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;

}
.about-col-1 img{
    width: 80%;
    border-radius: 30px;
}
.about-col-2{
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #ff0000;

}
.tab-titles{
    display: flex;
    margin: 30px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px; 
    font-weight: 500;
    cursor: pointer;
    position: relative;

}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #f80000;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;

}
.tab-contents ul li{
   list-style: none;
   margin: 10px 0;


}
.tab-contents ul li span{
    color: #ff0000;
    font-size: 19px;
    
}
.tab-contents{
    display: none;

}
.tab-contents.active-tab{
    display: block;

}
/*--------contant-----------*/

.contact-left{
    flex-basis: 10%;

}
.contact-right{
    flex-basis: 60%;
    
}
.contact-left p{
    margin-top: 30px;

}
.contact-left p i{
    color: #ff0000;
    margin-right: 10px;
    font-size:  25px;

}
.social-icons{
    margin-top: 30px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.2s;
}
.social-icons a:hover{
    color: #f80000;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff0000;
    
}
.contact-right form{
    width: 100%;


}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #ababab;
    padding: 15px;
    margin: 15px 0;
    color: #ff0000;
    font-size: 18px;
    border-radius: 6px;

}
form .btn2{
    padding: 14px 60px; 
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #ababab;
    font-weight: 300;
    margin-top: 20px;   

}
/*-----------css for small screen------------*/
@media only screen and (max-width: 600px){
    #header{
        background-image: url(image/phone.png);
    }
}
#msg{
    color: #61b752;
    margin-top: 20px;
    display: block;

}
